.golem-section-chassi {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.golem-section-fonte-energia {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.golem-section-size {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
