.card-body {
  justify-content: flex-start;
}

.button-row > button {
  flex: 1;
}

.sections {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  text-align: left;

  &:last-child {
    margin-bottom: 40px;
  }

  app-checkbox {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

