.card-body {
  justify-content: flex-start;
}

.sections {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  text-align: left;

  .section-subtitle {
    margin: 0 0 20px;
    font-size: 14px;
    font-family: var(--font-tormenta);
    color: var(--color-dark-cream);
  }

  app-checkbox {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

h3{
  margin-top: 0 !important;
}
