.duende-section-nature {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-size {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-taboo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-first-gift {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-second-gift {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-third-gift {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.duende-section-randomly-created {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
