.card {
  overflow-y: visible;
}

.card-body {
  justify-content: flex-start;
  min-height: 0;
}

.form-fields {
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  app-searchable-dropdown + app-searchable-dropdown {
    margin-top: 30px;
  }
}

.button-row {
  > button {
    flex: 1;
  }
}
