.saving-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.saving-icon {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

.saving-text {
  margin-top: 16px;
  font-family: var(--font-tormenta);
  font-size: 32px;
  text-transform: lowercase;
}
