.card-body {
  justify-content: flex-start;
}

.sections {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section {
  overflow-y: auto;
  text-align: left;

  h3 {
    margin: 0 0 0px;
    font-size: 24px;
    color: var(--color-light-cream);
  }

  .section-subtitle {
    margin: 0 0 20px;
    font-size: 14px;
    font-family: var(--font-tormenta);
    color: var(--color-dark-cream);
  }

  app-checkbox {
    margin-top: 20px;
  }
}

.dropdown-section {
  flex: 0 0 auto;
  margin-bottom: 20px;
  overflow: visible;
}

.powers-section {
  flex: 0 0 auto;
}
