.mode-selector-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 16px;

  h1 {
    margin: 0 0 8px;
    color: var(--color-tormenta-red);
  }
}

.mode-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-top: 60px;
}

.mode-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mode-icon {
  width: 210px;
  height: 210px;
  object-fit: contain;
}
