<div class="modal-backdrop">
  <div class="modal-box" [class.shrinks-height]="shrinksHeight()" [style.max-height.px]="maxHeight()">
    <div class="modal-content no-scrollbar" [class.allow-overflow]="allowOverflow()">
      <ng-content></ng-content>
    </div>
    @if (!hideButtonRow()) {
      <div class="button-row">
        @if (!hideSecondaryButton()) {
          <button class="btn-secondary" type="button" (click)="cancel.emit()">{{ cancelLabel() }}</button>
        }
        @if (!hidePrimaryButton()) {
          <button class="btn-primary" type="button" (click)="confirmed.emit()">{{ selectLabel() }}</button>
        }
      </div>
    }
  </div>
</div>
