.card-body {
  justify-content: flex-start;
}

.button-row > button {
  flex: 1;
}

.form-fields {
  width: 100%;
  flex: 0 0 auto;

  app-searchable-dropdown + app-searchable-dropdown {
    margin-top: 30px;
  }

  margin-bottom: 40px;
}

.general-complication-power-fields {
  margin-bottom: 30px;
}

.adulto-power-fields {
  margin-bottom: 30px;
}

.ambicao-herdada-power-fields {
  margin-bottom: 30px;
}

.button-row {
  margin-top: auto;
}

.hint {
  margin-top: 8px;
}
