.card-body {
  justify-content: flex-start;
}

.button-row > button {
  flex: 1;
}

.sections {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section {
  overflow-y: auto;
  text-align: left;

  app-checkbox {
    margin-top: 20px;
  }
}

.dropdown-section {
  flex: 0 0 auto;
  margin-bottom: 20px;
  overflow: visible;
}

.items-section {
  flex: 0 0 auto;
}

.other-sections {
  flex: 0 0 auto;
}
