.card-body {
  justify-content: flex-start;
}

.button-row > button {
  flex: 1;
}

.form-fields {
  width: 100%;
  flex: 1;

  app-searchable-dropdown {
    margin-bottom: 30px;
    --item-name-font-size: 16px;
  }
}
